<script>
  import { numClients } from './websocket.js';
  import MapTemplate from './MapTemplate.svelte';
</script>

<main>
	<h1>Hello World!</h1>
  <b>Number of clients:</b> {$numClients}
  <MapTemplate id=0 />
  <MapTemplate id=1 />
  <MapTemplate id=2 />
</main>
