<script>
  import { mapTemplates } from "./websocket.js";

  export let id;
</script>

<style lang="stylus">
  div
    width 200px
</style>

<div>
  {#if $mapTemplates.length > id}
    {@html $mapTemplates[id].svg}
  {:else}
    Loading...
  {/if}
</div>

